/* ----- RESET CSS ----- */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

ul[role='list'], ol[role='list'] {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input, textarea, select {
    font: inherit;
    color: inherit;
    border: none;
    background: none;
    appearance: none;
}

:focus {
    outline: none;
}

:focus:not(:focus-visible) {
    outline: none;
}

[hidden] {
    display: none !important;
}

input, textarea, select, button {
    border-radius: 0;
}

/* ----- COLORS ----- */

:root {
    --background-light: #FFFFFF;
    --background-dark: #000000;
    --text-light: #000000;
    --text-dark: #FFFFFF;
}

/* ----- BODY ----- */

html, body {
    scrollbar-width: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: var(--text);
    background-color: var(--background);
    font-family: system-ui, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* ----- HEADER ----- */

/* ----- MAIN ----- */

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-container {
    display: flex;
}

.img-container img {
    width: 100%;
    max-height: 90vh;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px) scale(0.95);
    transition: visibility 0s, opacity 1.5s ease, transform 0.5s ease;
}

.img-container img.loaded {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1);
}

/* ----- FOOTER ----- */

/* ----- MEDIA QUERY ----- */

@media (min-width: 500px) {

}

@media (hover: hover) and (pointer: fine) {}

@media (prefers-color-scheme: light) {

    :root {
        --background: var(--background-light);
        --text: var(--text-light);
    }

}

@media (prefers-color-scheme: dark) {

    :root {
        --background: var(--background-dark);
        --text: var(--text-dark);
    }

}